.movingp{margin-top: 11%;}

@media only screen and (max-width: 600px)
{.movingp{margin-top: 45%;}}

@media only screen and (max-width: 700px)
{.flexcontent,.flex1promo{font-size: 58%;}}

/* @media only screen and (max-width: 900px)
{.flexcontent,.flex1promo{font-size: 100%;}} */

/*1st part of the promo banner*/
.nav, .nav1, .nav2,.nav3,.nav4{color: black;background-color: brown;}
.nav1:target, .nav2:target, .nav3:target, .nav4:focus{background-color: brown;}
/* *{box-sizing: border-box;} */
.flex1promo{display: flex; height: 10%;
	justify-content: space-evenly;background-color: pink;
width: 100%;background-image:linear-gradient(to right,pink, red);}
.imgpromo{width: 100%; text-align:center ;height: 120px;
  /*transform: skewX(20deg)*/margin-top: 10%;
box-sizing: border-box;border-radius: 30px 30px 0px 0px;border:3px solid white;}
.flex1promo .flexcontent{text-align: center;animation-name: bannertext;animation-duration: 5s;
    animation-iteration-count: infinite;
	vertical-align: center;font-family: serif;
	font-size: 250%;margin: auto 0px;}
.first{color: white;}
@keyframes bannertext{
    from {color: white;}
  to {color: black;}
        }
 /* navigation section */
.navcontainer{display: flex;justify-content: space-between;
padding: 10px 0px 10px 0px;background-color: whitesmoke;}
.nav1,.nav2,.nav3,.nav4{font-size: 1.4em;}
/* header{position: fixed;top: 0%;vertical-align: auto;width:70%} */

/*moving image section*/
.movingimg{display:flex;justify-content: center;
	background-color: brown;}
.img1moving{max-width: 100%;width:100%; height: auto;}
 .nextprevious, .previousflex{display: flex;background-color: brown;
	justify-content: center;font-size: 3em;color: black;
border: 2px solid yellow;}
 .next,.previous{border: 2px solid red;background-color:yellow;
	padding:0em 1em 0em 1em;}
	.next:hover,.previous:hover{background-color: aliceblue;cursor: pointer;}
	.next:active,.previous:active{background-color:red;}

	
/* dresses image section*/
.dresses{margin-top: 14%;}
.dresses{display: flex;justify-content: center;}
.nextprevious{display: flex;background-color: brown;
	justify-content: space-between;font-size: 3em;color: black;
border: 2px solid yellow;}
.nextd:hover{background-color: aliceblue;cursor: pointer;}
.nextd:active{background-color:red;}
.previousd:hover{background-color: aliceblue;cursor: pointer;}
.previousd:active{background-color:red;}
.dress1row{display: flex;margin-top: 10px;
		justify-content: space-between;}
.brown1, .purple1, .colpinkful1,.ankara1{width: 20%;height: auto}
	 /* dress image section 2*/
.kids{margin-top: 1%;}
.nexd4{color: brown !important;}
.whitebrown1,.birthdaydress1,.colourfulankara1,.eiddress1{width: 20%;
	height: auto;}
	.dress2row{display: flex;margin-top: 10px;
		justify-content: space-between;}
footer{background-color: brown;opacity: 1;}
.imglogo{height: 3em;margin-top: 1em;}
.foot{text-decoration: none !important;}
.footflex{display: flex;justify-content: space-around;}

/* @media only screen and (max-width: 600px)
{.footflex{flex-direction: column;}} */
